<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="/css/app.min.css" rel="stylesheet" />
    <link rel="icon" href="images/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="font-inter bg-gray-50 tracking-tight text-gray-900 antialiased">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
